            </main>
            <footer>
               Learn more at <a href="https://searchsecurity.techtarget.com/definition/cybersecurity" target="_blank">TechTarget</a>
               <br>
               <span id="fakerPhrase">"<%= phrase%>"</span>
            </footer>
        </div>
    </body>
</html>