<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><%= title%></title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:700i&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <nav>
                <a id="header" href="/">Cybersecurity</a>
                <a class="page" href="/purpose">Purpose of cybersecurity</a>
                <a class="page" href="/threats">Types of threats</a>
                <a class="page" href="/elements">Elements of cybersecurity</a>
            </nav>