<% include partials/header.ejs %>
            <figure style="margin: 0;">
                <img src="img/elements.png" alt="Cybersecurity graphic"/>
            </figure>
            <header>
                <h2>Elements of Cybersecurity</h2>
            </header>
            <main>
                <div>
                    <p>With the continuously evolving nature of cyberthreats and
                    cybersecurity, there are many different systems that are 
                    involved with keeping data safe.</p>
                    <ul>
                        <li><u>Application security</u> - secure code that is implemented
                        by developers when applications are being made. This prevents
                        unauthorized code from doing any damage or stealing any
                        data from an application.</li>
                        <li><u>Information security</u> - protects data regardless of 
                        the format or if it is being transferred, updated or
                        is in storage.</li>
                        <li><u>Network security</u> - identify, prevent and react to 
                        attacks or potential threats with software tools or
                        cybersecurity policies.</li>
                        <li><u>End-user education</u> - training provided to employees
                        or individuals on how to anticipate, recognize and respond
                        to any threats involving sensitive data or assets.</li>
                    </ul>
                </div>
<% include partials/footer.ejs %>