<% include partials/header.ejs %>
            <figure style="margin: 0;">
                <img src="img/cybersecurity.png" alt="Cybersecurity graphic"/>
            </figure>
            <header>
                <h2>What is cybersecurity?</h2>
            </header>
            <main>
                <div>
                    <p>Cybersecurity is what protects hardware, software and 
                    data from cyber attacks. Similar to physical security,
                    the goal of cybersecurity is to create a stronger defense
                    against attackers trying to breach their data or other 
                    assets. Cybersecurity is in place to maintain the 
                    confidentiality and integrity of private data.</p>
                    <p>As our professional and personal lives continue to grow
                    dependence on the internet and digitilization of data, it
                    becomes more of a necessity to put an emphasise on 
                    cybersecurity. All businesses who maintain or process
                    customer data should have cybersecurity as a main priority 
                    to protect from potential breaches.</p>
                </div>
            </main>
            <footer>
               Learn more at <a href="https://searchsecurity.techtarget.com/definition/cybersecurity" target="_blank">TechTarget</a>
            </footer>
        </div>
    </body>
</html>