<% include partials/header.ejs %>
            <figure style="margin: 0;">
                <img src="img/purpose.png" alt="Cybersecurity graphic"/>
            </figure>
            <header>
                <h2>What is the purpose of cybersecurity?</h2>
            </header>
            <main>
                <div>
                    <p>Cybersecurity should always be implemented whether it is
                    for a large business, small business or even an individual. 
                    Data breaches can cost businesses millions as well as the 
                    trust of their customers. It can cause the lost of privacy
                    for individuals using their internet connected systems as
                    storage for private data.</p>
                    <p>Having cybersecurity properly implemented can minimize 
                    the damage that comes from a cyber attack. Newer technology
                    is implementing cybersecurity software that uses artificial
                    intelligence as a preventitive measure that is meant to
                    stop the cyber attacks from happening before it even happens.
                    As the security for cyber attacks advances so does the 
                    technology used by attackers, which makes it an ongoing fight
                    to continue and improve security measures.</p>
                </div>
<% include partials/footer.ejs %>