<% include partials/header.ejs %>
            <figure style="margin: 0;">
                <img src="img/threats.png" alt="Cybersecurity graphic"/>
            </figure>
            <header>
                <h2>Types of cybersecurity threats</h2>
            </header>
            <main>
                <div>
                    <p>Threats can come from both the software side and through
                    social engineering. Here are some of the most common cyberthreats.</p>
                    <ul>
                        <li><u>Malware</u> - maliciously designed 
                        software that is harmful to a computer user.</li>
                        <li><u>Ransomware</u> - a type of malware that
                        blocks parts of the computer off to the user until a set
                        ransom is paid.</li>
                        <li><u>Social Engineering</u> - planned manipulation of users
                        who are being tricked to grant attackers access to 
                        otherwise confidential or sensitive data.</li>
                        <li><u>Phishing</u> - fradulant forms of communication are sent
                        from what looks like reputable sources. These are sent
                        with the attentiuon to steal important data.</li>
                    </ul>
                </div>
            </main>
            <footer>
               Learn more at <a href="https://searchsecurity.techtarget.com/definition/cybersecurity" target="_blank">TechTarget</a>
            </footer>
        </div>
    </body>
</html>